.countup-outer-wrap {
  background: linear-gradient(to right, #9be931, #1e8c45);
}

.countup-wrap {
  background-color: black;
  z-index: 1;
}

.countup-filler {
  background: linear-gradient(to right, #9be931, #1e8c45);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
