@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: isocpeur;
}

@font-face {
  font-family: "ISOCPEUI";
  src: url("/assets/fonts/ISOCPEUI.ttf") format("truetype");
}

@font-face {
  font-family: "ISOCPEUR";
  src: url("/assets/fonts/ISOCPEUR.ttf") format("truetype");

}

@font-face {
  font-family: "MINECRAFT_RUS_NEW";
  src: url("/assets/fonts/MINECRAFT_RUS_NEW.otf") format("opentype");
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-bg{
  background: linear-gradient(to right, #9be931, #1e8c45);
}

.gradient-vertical{
  background: linear-gradient(to bottom, #000000, #9be931);
}

.gradient-vertical-2{
  background: linear-gradient(to bottom, #9be931, #1e8c45);
}

.gradient-vertical-3{
  background: linear-gradient(to bottom, #1e8c45, #9be931);
}

.minecraft{
  font-family: MINECRAFT_RUS_NEW;
}

.font-2{
  font-family: isocpeui;
}

.font-3{
  font-family: isocpeur;
}

.purchase-modal{
  height: calc(100vh - 90px);
}

.blur-bg{
  background-image: url("/assets/images/shop-blur.svg");
  background-size: cover;
  background-position: center;
}

.claim-btn-wrap{
  height: calc(100vh - 80px);
}